/*User Check*/ 
li:not([data-userid='188642874320093184']) { 
  display:none; 
}

/*Quiet Image*/ 
img[class*="avatar"] { 
  content:url("https://cdn.discordapp.com/attachments/390441169970003969/1268449107547131935/spooky_token_quiet.png?ex=66ac76c9&is=66ab2549&hm=11949ad940f18a602445ad82c3ef527db29e0283a2e5b90adc582a9eb024e4e3&"); 
}

/*Speaking Image*/ 
img[class*="avatarSpeaking"] { 
  content:url("https://cdn.discordapp.com/attachments/390441169970003969/1268402328948441129/Spooky_Token.png?ex=66ac4b38&is=66aaf9b8&hm=8b4bb7da73ae7c207e96d3e672d27a42a5305fa7e559da25090de77b0634e8f9&");
}

/*Name*/
/* .Voice_voiceState__OCoZh is_widget_owner voice_state[data-userid*="188642874320093184"] .Voice_user__8fGwX voice_username.Voice_name__TALd9:before >test< {
    TextContent: "Game Master"; 
}*/


/*Flex Set*/ 
html, body, img, div, span, ul, li { 

}
/*Center Image*/ 
html { 
  height:150px; 
  width:150px; 
  justify-content:left;
  display:flex; 
  flex-direction: row; 
}
/*Hide Scrollbars*/ 
body { overflow:hidden; }
/*List CSS*/ 
ul[class*="voiceStates"] { padding-inline:0; margin-block:0; margin-top: 5px; }
/*List Item CSS*/ 
li[class*="voiceState"] { flex-direction:column; align-items:center; margin:0; height:unset; }
/*Avatar CSS*/ 
img[class*="avatar"] { width:100%; height:auto; border:0; border-radius:0; margin:0; float:unset; filter:brightness(50%); transition: all 0.2s ease-in-out; 
}

/*Speaking CSS*/ 
img[class*="avatarSpeaking"] { position:relative; animation:speak-now 0.2s; filter:brightness(95%); 
}
/* div class = "Namebox" {
    padding: 0;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 5px;
    left: 160px;
} */
}

/* profile name div */
/*div.Voice_user__8fGwX {
    padding: 0;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 5px;
    left: 160px;
}

/* profile name span */
/*span.Voice_name__TALd9 {
    border-radius: 0;
    padding: 8px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: Draconis, regular;
    font-size: 50px !important;
    color: #FFFFFF !important;
    background-color: unset !important;
}*/


/*Animation*/ 
@keyframes speak-now { 50%{ bottom:3px; } }

.namebox::after {
    padding: 0;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 5px;
    left: 160px;
}
 span.username {
    text-align: left;
    box-sizing: border-box;
    word-break: keep-all;
    font-family: Draconis, regular;
    content: "Spooky";
    font-size: 50px !important;
    color: #FFFFFF !important;
    background-color: unset !important;
}

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }
